@import '../../../variables.scss';

.start-new-convo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem;
    background: #0e091a;
    box-sizing: border-box;
    max-height: $standard-viewport-height;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem 0;
        border-bottom: 1px solid white;
        width: calc(100% - 12px);
    }

    &__users {
        height: calc(#{$standard-viewport-height} - 292px);
        overflow: scroll;
    }

    .controls {
        padding-left: 0;
        padding-top: 0;
    }
}
