@import '../../../variables.scss';

.hexagon {
    position: relative;
    margin-right: -5px;

    &__border {
        fill-opacity: 1;
        stroke: $primary-color;
        stroke-width: 1;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) stroke-width;
        fill: transparent;

        &--active {
            stroke-width: 5;
        }
    }

    &__icon {
        position: absolute;
        width: 48px;
        height: 48px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    &__background {
        fill: $muted-background;
        fill-opacity: 0;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) fill-opacity;

        &--active {
            fill-opacity: .15;
        }
    }

    &__dots {
        opacity: 0;
        transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) opacity;

        &--active {
            opacity: 1;
        }
    }
}