@use '@theme' as *;

.main-menu {
    background-color: $dark-background;
    border-top: 1px solid $input-text-color;

    &__option {
        &::before {
            background-color: $primary-color;
        }

        &--active {
            background-image: linear-gradient(
                to bottom,
                rgba(84, 90, 233, 0) 28%,
                rgba(84, 90, 233, 0.2)
            );

            a {
                color: #fff;
            }

            &::before {
                background-color: #fff;
            }
        }
    }

    &__add-button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 10px;
        background-color: $primary-color;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10px;
        left: calc(50% - 20px);
        box-shadow: 0 5px 20px 0 rgba(84, 90, 233, 0.3);

        span {
            font-size: 36px;
            line-height: 36px;
            box-shadow: inset 0 1px 3px 0 rgba(84, 90, 233, 0.4);
            color: #fff;
            transform: translateY(-3px);
        }
    }
}
