@use '@theme' as *;

.main-menu {
    background-color: $app-background;
    border-top: 1px solid $secondary-color;

    a {
        color: $secondary-color;
    }

    &__option {
        &--active {
            background-image: linear-gradient(
                to bottom,
                rgba(233, 84, 84, 0) 28%,
                rgba(233, 84, 91, 0.2)
            );

            a {
                color: $primary-color;
            }

            &::before {
                background-color: $primary-color;
            }
        }
    }

    &__add-button {
        top: 7px;
    }

    button {
        padding: 0;
        background: transparent;
    }
}
