backendDotnet/.vs/*
backendDotnet/Giger/obj/*
backendDotnet/Giger/bin/*
backendDotnet/TestWebSocketClientChat/obj/*
backendDotnet/TestWebSocketClientChat/bin/*
backendDotnet/DatabaseSerializer/obj/*
backendDotnet/DatabaseSerializer/bin/*
backendDotnet/Models/*
docker-compose.override.yaml
.env
node_modules
.DS_Store
yarn.lock
package-lock.json