# networks:
#   default:
#     external: true
#     name: traefik-proxy

services:
  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - ${APP_PORT:-8080}:80
    volumes:
      - ./docker/nginx/:/etc/nginx/conf.d/

  frontend:
    image: mivalsten/gig3r-frontend:${GIGER_IMAGE_TAG:-latest}
    build:
      context: ./frontend
    restart: unless-stopped
    expose:
      - 8080

  backend:
    image: mivalsten/gig3r-backend:${GIGER_IMAGE_TAG:-latest}
    deploy:
      replicas: 3
    build:
      context: ./backendDotnet/Giger
      dockerfile: ../Dockerfile
      args:
        - ASPNETCORE_CONFIGURATION=Debug
    restart: unless-stopped
    expose:
      - 8080
    volumes:
      - ./backendDotnet/Giger/appsettings.json:/app/appsettings.json
      - ./data/postgres/01-data.sql:/app/seed-data.sql
    environment:
      #- GigerDB__ConnectionString=mongodb://mongo:27017
      - GigerDB__Host=postgres
      - GigerDB__Port=5432
      - GigerDB__Username=${GIGER_USERNAME:-giger}
      - GigerDB__Password=${GIGER_PASSWORD:-giger}
      - GigerDB__DatabaseName=${GIGER_DATABASE:-admin}
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
      - ./data/postgres:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_USER=giger
      - POSTGRES_PASSWORD=giger
      - POSTGRES_DB=giger
