@use '@theme' as *;
@use '@slider-style' as *;

.slider {
    font-family: 'JetBrains Mono', monospace;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;

    &__label-container,
    &__bounds-container {
        display: flex;
        justify-content: space-between;
    }

    &__label-container--center {
        justify-content: center;
    }

    input[type='range'] {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 6px;
        margin: 10px 0;
        padding: 0;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            position: relative;
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);

            &::before {
                content: '\2B22';
                font-size: 20px;
            }
        }

        &:focus {
            outline: none;
        }
    }
}
