.no-access {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    &__heading {
        text-align: center;
    }

    &__description {
        text-align: center;
    }
}
