@import '../../../variables.scss';

.locked-entry {
    border: 1px solid $accent-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    background: repeating-linear-gradient(
        45deg,
        $accent-color,
        $accent-color 10px,
        $dark-background 10px,
        $dark-background 20px
    );

    &__text {
        color: $accent-color;
        padding: 0 0.5rem;
        font-size: 2rem;
        display: flex;
        background: $dark-background;
    }
}
