@import '../variables.scss';

// disables the 'tap to search' feature on chrome mobile
* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
select {
    width: 100%;
    border: 1px solid $primary-color;
    background: transparent;
    padding: 1rem;
    font-size: 1.1rem;
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
    color: $input-text-color;
    outline: none;

    &::placeholder {
        color: $muted-text;
    }

    &:focus {
        border-color: $accent-color;
        caret-color: $accent-color;
    }
}

input[type='checkbox'] {
    display: none;

    & + label {
        display: inline-block;
        transition: $fast-duration $standard-timing-function background-image;
        background-image: url('../assets/checkbox.svg');
        width: 24px;
        height: 24px;
    }

    &:checked + label {
        background-image: url('../assets/checkbox-selected.svg');
    }
}

select option {
    background: $dark-background;
    color: $input-text-color;
}

textarea {
    min-height: 6rem;
}
