.admin-editable-field {
    padding: 0;
    border: 0;

    &__text {
        display: inline;
    }

    &__admin-mode {
        background-color: rgba(84, 90, 233, 0.2);
        padding: 0.1rem;
    }
}
