@use '@theme' as *;

.my-id {
    height: $standard-viewport-height;
    width: calc(100vw - 2rem);
    box-sizing: border-box;

    &__buttons {
        display: flex;
        flex-wrap: wrap;
    }

    &__follow {
        width: 100%;
    }

    &__msg,
    &__notes {
        width: calc(50% - 0.5rem);
        margin-bottom: 1rem;
    }

    &__msg {
        margin-right: 1rem;
    }
}
