.cards {
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 1rem 0;

    &__scroller {
        width: 200%;
        display: flex;
    }

    &__card {
        width: 100%;
        background-size: cover;
        aspect-ratio: 69 / 37;
        text-shadow: 0 1px 5px #16286d;
        color: white;
        font-family: 'JetBrains Mono', monospace;
        scroll-snap-align: center;
        margin: 0 0.5rem;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--private {
            background-image: url(../../../assets/karta-1@3x.webp);
        }

        &--business {
            background-image: url(../../../assets/karta-2@3x.webp);
        }
    }
}
