@import '../../../../variables.scss';

.message {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: $other-user-color;

    &--own {
        color: $own-msg-color;
    }

    &__sender {
        margin: 0 0.5rem;

        &--influencer {
            color: $dark-text;
            background-color: $other-user-color;
            border-radius: 6px;
            padding: 0 0.25rem;
        }
    }

    &__text--influencer {
        font-weight: 800;
    }

    &--unread {
        font-weight: 800;
    }
}
