@import '../../../../variables.scss';

.message {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: $other-user-color;

    &--own {
        color: $own-msg-color;
    }
}
