@import '../../../variables.scss';

.user-select {
    border: 1px solid $primary-color;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;

    &--selected {
        border-color: $accent-color;
    }

    &__user {
        background-color: $highlight-background;
        padding: 0.7rem;
        margin-right: 2px;
        margin-bottom: 2px;
        color: $other-user-color;
    }

    input {
        border: none;
    }
}
