body {
  position: relative;
  color: white;
  background: #000;
  font-family: "Courier";
  overflow-y: hidden;
}

#root {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  white-space: pre-wrap;
}

input {
  background: black;
  color: aqua;
  border: 0;
  padding: 0;
  font-size: 18px;
  width: 100%;
}

input:focus{
  outline: none;
}

.line {
  color: white;
  font-size: 20px;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.user-line {
  color: gray;
}

.secondary-line {
  color: deeppink;
}
