@import '../../../variables.scss';

.gig {
    $new-msg-wrapper-height: 57px;
    $summary-height: 85px;

    display: block;
    list-style: none;
    transition: $standard-duration $standard-timing-function;
    transition-property: height, min-height, margin-bottom;
    height: $summary-height;
    min-height: $summary-height;
    overflow: hidden;
    position: relative;

    &--selected {
        height: $standard-viewport-height;
    }

    &--other-selected {
        height: 0;
        min-height: 0;
        margin-bottom: 0;
    }

    &__summary {
        position: relative;
        transform-origin: left;
        box-sizing: border-box;
        border: 3px solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: $summary-height;
        padding: 0.5rem;
        padding-left: 1rem;
        cursor: pointer;
        clip-path: polygon(
            12px 0,
            100% 0,
            100% calc(100% - 19px),
            calc(100% - 19px) 100%,
            0 100%,
            0 15px
        );
        flex-wrap: wrap;

        &--available {
            border-color: $primary-color;
        }
        &--in-progress {
            border-color: $secondary-color;
        }
        &--mine {
            border-color: $accent-color;
        }
        &--available:before,
        &--available:after {
            background-color: $primary-color;
        }
        &--in-progress:before,
        &--in-progress:after {
            background-color: $secondary-color;
        }
        &--mine:before,
        &--mine:after {
            background-color: $accent-color;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -9px;
            width: 34px;
            height: 2px;
            transform: rotate(315deg);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 2px;
            right: -5px;
            width: 34px;
            height: 2px;
            transform: rotate(315deg);
        }
    }

    &__date {
        font-size: 1rem;
        font-weight: 400;
    }

    &__title {
        margin: 0 0 3px;
        font-size: 22px;
        font-weight: 400;
        font-stretch: semi-condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        width: 100%;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 100px;
            background: $primary-color;
        }
    }

    &--in-progress &__title {
        &:before {
            background: $secondary-color;
        }
    }

    &--completed &__title {
        &:before {
            background: $accent-color-2;
        }
    }

    &--mine &__title {
        &:before {
            background: $accent-color;
        }
    }

    .big-button {
        width: 95%;
        position: relative;
        top: -1px;
    }

    .big-button + .big-button {
        margin-top: 1rem;
    }

    .new-msg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: $new-msg-wrapper-height;
    }

    &__details {
        max-height: calc(
            calc(#{$standard-viewport-height} - #{$summary-height}) - #{$new-msg-wrapper-height}
        );
    }

    &__from {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        text-transform: uppercase;
        color: $muted-text;

        &--shown {
            display: flex;
        }
    }

    &__wrapper {
        list-style: none;
        padding: 0;
        margin-bottom: 1rem;

        &--small-margin {
            margin-bottom: 0.3rem;
        }
    }

    &__status {
        display: none;
        align-items: center;
        gap: 0.5rem;

        &--shown {
            display: flex;
        }

        &::before {
            content: '';
            width: 11px;
            height: 11px;
            border-radius: 50%;
            display: block;
        }

        &--primary { color: $primary-color }
        &--primary::before { background-color: $primary-color }

        &--secondary { color: $secondary-color }
        &--secondary::before { background-color: $secondary-color }

        &--accent { color: $accent-color }
        &--accent::before { background-color: $accent-color }

        &--accent-2 { color: $accent-color-2 }
        &--accent-2::before { background-color: $accent-color-2 }
    }
}
