@use '@theme' as *;
@use '@gig-style' as *;

.gig {
    $new-msg-wrapper-height: 57px;

    display: block;
    list-style: none;
    transition: $standard-duration $standard-timing-function;
    transition-property: height, min-height, margin-bottom;
    max-height: calc(#{$standard-viewport-height} - 70px);
    overflow: hidden;

    &--selected {
        height: $standard-viewport-height;
    }

    &--other-selected {
        height: 0;
        min-height: 0;
        margin-bottom: 0;
    }

    &__payout {
        text-transform: uppercase;
        color: $muted-text;
    }

    &__summary {
        position: relative;
        transform-origin: left;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        transition:
            $color-transition-duration $color-timing-function border-color,
            $color-transition-duration $color-timing-function background-color;
        cursor: pointer;
        flex-wrap: wrap;

        &::before {
            transition: $color-transition-duration $color-timing-function
                background-color;
        }

        &--available {
            border-color: $primary-color;
        }

        &--in-progress {
            border-color: $secondary-color;
        }

        &--mine:not(.gig__summary--completed):not(.gig__summary--expired) {
            border-color: $accent-color !important;
        }

        &--pending {
            border-color: $secondary-color;
        }

        &--dispute {
            border-color: $accent-color-2;
        }

        &--completed {
            border-color: $muted-accent;
        }

        &--expired {
            border-color: $muted-accent;
        }

        &--available:before,
        &--available:after {
            background-color: $primary-color;
        }

        &--in-progress:before,
        &--in-progress:after {
            background-color: $secondary-color;
        }

        &--mine:not(.gig__summary--completed):not(
                .gig__summary--expired
            ):before,
        &--mine:not(.gig__summary--completed):not(
                .gig__summary--expired
            ):after {
            background-color: $accent-color !important;
        }

        &--dispute:before,
        &--dispute:after {
            background-color: $accent-color-2;
        }

        &--pending:before,
        &--pending:after {
            background-color: $secondary-color;
        }

        &--completed:before,
        &--completed:after {
            background-color: $muted-accent;
        }

        &--expired:before,
        &--expired:after {
            background-color: $muted-accent;
        }
    }

    &__date {
        font-size: 1rem;
        font-weight: 400;
    }

    &__conversation {
        max-height: calc(100dvh - 430px);
        overflow: auto;
    }

    .big-button {
        position: relative;
        top: -1px;
    }

    .big-button + .big-button {
        margin-top: 1rem;
    }

    .new-msg {
        position: relative;
        width: 100%;
        height: $new-msg-wrapper-height;
    }

    &__details {
        overflow: auto;
        max-height: calc(100% - 100px);
    }

    &__from {
        display: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        text-transform: uppercase;
        color: $muted-text;

        &--shown {
            display: flex;
        }
    }

    &__wrapper {
        list-style: none;
        margin-bottom: 1rem;
        transition: margin-bottom $standard-duration $standard-timing-function;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: $app-background;
        padding: 1rem;
        box-sizing: border-box;

        &--small-margin {
            margin-bottom: 0.3rem;
        }

        &--no-margin {
            margin-bottom: 0;
        }
    }

    .locked-entry {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
}
