@use '@theme' as *;
@use '@my-id-navigation-style' as *;

.my-id-navigation {
    height: calc(#{$standard-viewport-height} - 74px);
    overflow: auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: $app-background;
    padding: 2rem 0 1rem 0;

    &__list {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        gap: 1rem;
        padding-bottom: 1.5rem;
    }

    &__category-list {
        list-style: none;
        padding: 0;
    }

    &__category {
        color: $accent-color;
        text-transform: capitalize;
        padding-bottom: 0.5rem;
    }

    &__item {
        position: relative;
        flex: 1 1 30%;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        border-radius: 1rem;
        cursor: pointer;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        font-stretch: semi-condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;

        &--badge-new {
            height: 1rem;
            position: absolute;
            display: inline-flex;
            align-items: center;
            bottom: 0.25rem;
            left: 0.5rem;

            text-transform: none;
            font-size: 0.75rem;
            font-weight: 500;
            color: $accent-color;

            & .oval {
                margin-inline: -0.5rem;
                transform: scale(0.15);
                position: relative;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: $accent-color;

                &::after {
                    content: ' ';
                    top: -1rem;
                    left: -1rem;
                    position: absolute;
                    width: calc(100% + 1.8rem);
                    height: calc(100% + 1.8rem);

                    border: solid 1px $accent-color;
                    border-radius: 50%;
                    opacity: 0.5;
                }
            }
        }
    }
}
