@use '@theme' as *;

@mixin bordercut(
    $border-cut: 10px,
    $border-thickness: 1px,
    $border-color: $secondary-color
) {
    border: $border-thickness solid $border-color;
    border-bottom: calc($border-thickness + 1px) solid $border-color;
    background:
        linear-gradient(
                45deg,
                $border-color 0 calc($border-cut + $border-thickness),
                transparent 0
            )
            bottom left / 50% 50%,
        linear-gradient(
                -45deg,
                $border-color 0 calc($border-cut + $border-thickness),
                transparent 0
            )
            bottom right/50% 50%,
        linear-gradient(
                135deg,
                $border-color 0 calc($border-cut + $border-thickness),
                transparent 0
            )
            top left / 50% 50%,
        linear-gradient(
                -135deg,
                $border-color 0 calc($border-cut + $border-thickness),
                transparent 0
            )
            top right / 50% 50%;
    background-origin: border-box;
    background-repeat: no-repeat;
    -webkit-mask:
        linear-gradient(45deg, transparent 0 $border-cut, $border-color 0)
            bottom left,
        linear-gradient(-45deg, transparent 0 $border-cut, $border-color 0)
            bottom right,
        linear-gradient(135deg, transparent 0 $border-cut, $border-color 0) top
            left,
        linear-gradient(-135deg, transparent 0 $border-cut, $border-color 0) top
            right;
    -webkit-mask-size: 50.5% 50.5%;
    -webkit-mask-repeat: no-repeat;
}

.my-id-navigation {
    &__item {
        border: 1px solid $secondary-color;
        color: $primary-color;

        @include bordercut;

        &:active {
            @include bordercut(10px, 2px, $text-color);
        }
    }
}
