@import '../../../../variables.scss';

.gig-list-filters {
    $deltaY: -27px;
    $controlsHeight: 50px;
    $controlsAndButtonHeight: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: calc(100dvh - #{$menu-size});
    transition: $standard-timing-function $standard-duration transform;
    background: $app-background;

    &--active {
        transform: translateY(-100vh);
    }

    &__mode-select {
        width: 80%;
        margin-bottom: 1rem;
    }

    &__filter-row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        transform: translateX(-22px);

        &:nth-child(even) {
            left: 55px;
        }

        &:nth-of-type(2) {
            top: #{$deltaY * 1};
        }

        &:nth-of-type(3) {
            top: #{$deltaY * 2};
        }

        &:nth-of-type(4) {
            top: #{$deltaY * 3};
        }
    }

    &__body {
        height: calc(
            #{$standard-viewport-height} - #{$controlsAndButtonHeight}
        );
    }

    &__cancel {
        padding: 1rem;
    }

    .big-button {
        position: absolute;
        bottom: 1rem;
        width: calc(100% - 2rem);
        left: 1rem;
    }
}
