@use '@theme' as *;

.gig-header {
    &__title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: normal;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 6px;
            height: 100px;
            background: $primary-color;
        }
    }

    &__status {
        &::before {
            content: '';
            width: 11px;
            height: 11px;
            border-radius: 50%;
            display: block;
        }
    }
}
