@use '@theme' as *;
@use '@char-summary-style' as *;

.char-summary {
    margin-bottom: 1rem;
    clip-path: polygon(calc(100% - 20px) 0, 100% 20px, 100% 100%, 0 100%, 0 0);
    position: relative;
    font-size: 0.875rem;

    &:before {
        content: '';
        transform: rotate(45deg);
        width: 28px;
        height: 1px;
        position: absolute;
        right: -4px;
        top: 9px;
    }

    &__data {
        max-height: calc(#{$standard-viewport-height} - 185px);
        overflow: auto;
    }

    &__basic-data {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }

    &__header {
        font-family: 'Saira', sans-serif;
        font-size: 1.4rem;
        padding: 1rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        .select-user {
            margin-left: 1rem;
        }
    }

    &__name {
        margin-left: 0.5rem;
    }

    &__label,
    &__entry {
        width: 50%;
        box-sizing: border-box;
        padding: 0.25rem 1rem;

        &--full-length {
            width: 100%;
        }

        &--extended {
            width: 60%;
            padding: 0.25rem;
            display: flex;
            align-items: center;
        }
    }

    &__label {
        padding-left: 1rem;
        display: flex;
        align-items: center;

        &--short {
            width: 40%;
            padding-left: 0.25rem;
        }
    }

    &__signature {
        width: 40%;
    }

    &__signature-and-basic-data,
    &__details {
        display: flex;
    }

    &__details {
        flex-wrap: wrap;
    }

    &__id-valid-section {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0.5rem 0.5rem 0 0.5rem;
    }

    &__id-valid {
        text-transform: uppercase;
        margin-right: 0.5rem;
    }

    &__id-valid-to {
        text-transform: uppercase;
        color: $base-text-color;
    }

    input,
    select,
    option {
        font-size: 0.875rem;
        padding: 0 0.7rem;
    }
}

.controls,
.controls__left-side {
    padding-left: 0;
}

.controls {
    padding-top: 0;
}
