@import '../../../variables.scss';

.neotribe {
    & h1 {
        font-size: 1rem;
        font-family: 'JetBrains Mono', monospace;
        color: $muted-text;
    }

    & span {
        white-space: wrap;
    }
}
