@use '@theme' as *;

.convo-snippet {
    width: 100%;
    font-family: 'JetBrainsMono', monospace;
    font-size: 14px;
    font-weight: 500;
    transform-origin: left;

    transition: $standard-duration $standard-timing-function;
    transition-property: height, min-height, margin-bottom;
    // height: $summary-height;
    // min-height: $summary-height;

    &__summary {
        transform-origin: left;
        padding: 0.5rem 0;
    }

    &--selected {
        height: 100%
    }

    &--minimized {
        border-bottom: 1px solid white;
    }

    &--other-selected {
        height: 0;
        min-height: 0;
        margin-bottom: 0;
    }

    &__meta {
        color: $muted-text;
    }

    &__sender {
        color: $secondary-color;
    }

    &__date {
        color: $accent-color;
    }

    &__status {
        color: $accent-color-2;
        text-transform: uppercase;
    }

    &__message {
        color: $muted-text;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        width: 100%;
        overflow: hidden;

        &--unread {
            font-weight: bold;
        }
    }

    .new-msg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 57px;
    }

    .controls,
    .controls__left-side {
        padding-left: 0;
    }
}
