@import '../../../variables.scss';

.gig-list {
    $controlsHeight: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: $standard-viewport-height;
    padding: 0 1rem;

    &__list {
        height: calc(#{$standard-viewport-height} - #{$controlsHeight});
        overflow: auto;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        margin-top: 0;
        list-style: none;
        margin-bottom: 0;
        overflow-x: hidden;
    }

    &__payout {
        font-family:
            Saira Thin,
            sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-stretch: 110%;
        font-style: normal;
        font-variation-settings: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $muted-text;
    }

    &__top {
        font-family: 'Saira', sans-serif;
        text-transform: uppercase;
        font-size: 1.2rem;
        width: 100%;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
}