@use '@theme' as *;

.bank {
    padding: 1rem;
    height: $standard-viewport-height;
    overflow-y: scroll;
    box-sizing: border-box;

    &__transactions {
        list-style: none;
        padding: 0;
    }

    &__balance {
        font-family: 'Saira', sans-serif;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 60px;
    }

    &__private-balance,
    &__business-balance {
        transition: transform $standard-timing-function $standard-duration;  
    }

    &__private-balance {
        transform: translateY(-100%);

        &--active {
            transform: translateY(0);
        }
    }

    &__business-balance {
        transform: translateY(100%);

        &--active {
            transform: translateY(-100%);
        }
    }

    &__balance-label,
    &__transfer-history-label {
        font-family: 'JetBrains Mono', monospace;
        color: $muted-text;
    }
}
