@import '../../../variables.scss';

.new-gig {
    transition: $standard-duration $standard-timing-function transform;
    transform: translateY(100vh);
    width: 100vw;
    height: $standard-viewport-height;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: $app-background;
    padding: 1rem;
    padding-bottom: 0;
    box-sizing: border-box;

    &--active {
        transform: translateY(0);
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: auto;
        max-height: 100%;
        padding-bottom: 1rem;
    }

    .big-button {
        margin-top: 1rem;
    }

    &__slider {
        border: 1px solid $primary-color;
    }

    &__warning {
        color: $accent-color;
    }
}
