@use '@theme' as *;

.transaction {
    font-family: 'JetBrains Mono', monospace;
    border: 1px solid $primary-color;
    padding: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &__meta {
        display: flex;
        flex-direction: column;
        width: calc(100% - 120px);
    }

    &__amount {
        width: calc(100% - 280px);
        display: flex;
        justify-content: flex-end;
        min-width: 70px;
    }

    &__other-party,
    &__amount {
        color: white;
        font-size: 0.875rem;
    }

    &__date {
        color: $muted-text;
        font-size: 0.6rem;
    }

    &__direction {
        background-color: $primary-color;
        width: 45px;
        height: 45px;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 39px;
            height: 39px;
        }
    }

    &__title {
        font-size: 0.7rem;
    }

    &__is-new {
        margin-left: 0.5rem;
        border: 1px solid $accent-color;
        color: $accent-color;
        padding: 0 0.25rem;
        text-transform: uppercase;
    }
}
