{{ $dbpass := include "gig3r.database.password" (dict "Namespace" .Release.Namespace ) }}
{{ with (mergeOverwrite . (dict "Values" (dict "database" (dict "password" $dbpass)) )) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gig3r-secret
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-1000"
data:
  
  POSTGRES_USER: {{ .Values.database.user | b64enc | quote }}
  POSTGRES_PASSWORD: {{ $dbpass | b64enc | quote }}
  POSTGRES_DB: {{ .Values.database.name | b64enc | quote }}

  {{- end -}}
