---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gig3r.frontend.app" . }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: {{ include "gig3r.frontend.app" . }}
  template:
    metadata:
      labels:
        app: {{ include "gig3r.frontend.app" . }}
        randstr: {{ randAlphaNum 20 }}
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - image: {{ include "gig3r.frontend.image" . }}
        name: {{ include "gig3r.frontend.app" . }}
        ports:
        - containerPort: 8080
          protocol: TCP
      imagePullSecrets:
      - name: regcred
      restartPolicy: Always

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gig3r.backend.app" . }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: {{ include "gig3r.backend.app" . }}
  template:
    metadata:
      labels:
        app: {{ include "gig3r.backend.app" . }}
        randstr: {{ randAlphaNum 20 }}
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - image: {{ include "gig3r.backend.image" . }}
        name: {{ include "gig3r.backend.app" . }}
        ports:
        - containerPort: 8080
          protocol: TCP
        env:
        - name: DOTNET_USE_POLLING_FILE_WATCHER
          value: "1"
        - name: GigerDB__Host
          value: {{ include "gig3r.postgres.app" . }}
        - name: GigerDB__Port
          value: "5432"
        - name: GigerDB__Username
          valueFrom:
            secretKeyRef:
              name: gig3r-secret
              key: POSTGRES_USER
        - name: GigerDB__Password
          valueFrom:
            secretKeyRef:
              name: gig3r-secret
              key: POSTGRES_PASSWORD
        - name: GigerDB__DatabaseName
          valueFrom:
            secretKeyRef:
              name: gig3r-secret
              key: POSTGRES_DB
        - name: ConnectionStrings__DefaultConnection
          value: "Host=$(GigerDB__Host);Port=$(GigerDB__Port);Database=$(GigerDB__DatabaseName);Username=$(GigerDB__Username);Password=$(GigerDB__Password);"
        - name: ASPNETCORE_ENVIRONMENT
          value: {{ include "gig3r.backend.environment" .}}
      volumes:
      - name: config
        secret:
          secretName: gig3r-secret
      imagePullSecrets:
      - name: regcred
      restartPolicy: Always

---
