---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ include "gig3r.frontend.app" . }}
  name: {{ include "gig3r.frontend.app" . }}
spec:
  ports:
  - name: {{ include "gig3r.frontend.app" . }}
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: {{ include "gig3r.frontend.app" . }}
  sessionAffinity: None

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ include "gig3r.backend.app" . }}
  name: {{ include "gig3r.backend.app" . }}
spec:
  ports:
  - name: {{ include "gig3r.backend.app" . }}
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: {{ include "gig3r.backend.app" . }}
  sessionAffinity: None

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ include "gig3r.postgres.app" . }}
  name: {{ include "gig3r.postgres.app" . }}
spec:
  ports:
  - name: {{ include "gig3r.postgres.app" . }}
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    app: {{ include "gig3r.postgres.app" . }}
  sessionAffinity: None

---
