
# PostgreSQL deployment
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "gig3r.postgres.app" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "gig3r.postgres.app" . }}
  template:
    metadata:
      labels:
        app: {{ include "gig3r.postgres.app" . }}
        randstr: {{ randAlphaNum 20 }}
    spec:
      containers:
      - image: {{ include "gig3r.postgres.image" . }}
        name: {{ include "gig3r.postgres.app" . }}
        ports:
        - containerPort: 5432
          protocol: TCP
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: gig3r-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: gig3r-secret
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: gig3r-secret
              key: POSTGRES_DB
        volumeMounts:
        {{- if eq "app" .Values.environment }}
        - name: postgres-persistent-storage
          mountPath: /var/lib/postgresql/data
          {{- end }}
      imagePullSecrets:
      - name: regcred
      restartPolicy: Always
      volumes:
        {{- if eq "app" .Values.environment }}
        - name: postgres-persistent-storage
          hostPath:
            path: /opt/postgres/{{ .Values.environment }}
            type: DirectoryOrCreate
        {{- end }}

---
