@use '@theme' as *;

.big-button {
    clip-path: polygon(0 0, 100% 0, 100% 77%, 96% 100%, 4% 100%, 0 77%);
    background-color: $primary-color;
    font-family: 'Saira', sans-serif;
    font-weight: 500;
    width: 100%;
    border-radius: 0;
    height: 60px;
    color: $button-text-color;
    transition:
        $color-transition-duration $color-timing-function background-color,
        $color-transition-duration $color-timing-function color;
    outline: none;

    &__text {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        font-stretch: semi-condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    &--primary {
        background-color: $primary-color;
    }

    &--secondary {
        background-color: $secondary-color;
    }

    &--accent {
        background-color: $accent-color;
        color: $dark-text;
    }

    &--accent2 {
        background-color: $accent-color-2;
        color: $dark-text;
    }

    &--muted-accent {
        background-color: $muted-accent;
        color: $dark-text;
    }

    &:disabled {
        background-color: $disabled-color;
        color: $dark-text;
    }
}
