@use '@theme' as *;

.code-entry {
    &__heading {
        text-transform: capitalize;
        color: $primary-color;
        font-weight: 400;
        font-size: 16px;
    }

    &__input {
        margin-bottom: 1rem;
    }

    &__result {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__success {
        background-color: $accent-color;
        color: $dark-text;
    }

    &__wrong-code {
        background-color: $secondary-color;
        color: white;
    }
}
