@import "../../../../variables.scss";

.new-entry {
    color: white;
    
    &__input {
        border: 0;
        background-color: rgba(84, 90, 233, 0.2);
        padding: 0.1rem;
    }

    &__add {
        width: 32px;
        position: absolute;
        right: 0;
        height: 32px;
        box-sizing: border-box;
        padding: 0;
        background: white;
        color: $primary-color;

        &:disabled {
            opacity: 0.3;
        }
    }

    &__year {
        width: 65px;
        margin-right: 0.5rem;;
    }

    &__year-input {
        text-align: center;
    }

    &__info {
        width: calc(100% - 112px);
    }
}
