@use '@theme' as *;

.vibe {
    max-height: calc(100dvh - 120px);
    overflow: auto;
    padding-bottom: 1rem;

    &__label {
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        border-left: 4px solid $primary-color;
        padding-left: 0.5rem;
    }

    &__entry {
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        margin-bottom: 1rem;
        border-left: 4px solid $primary-color;
        padding-left: 0.5rem;
    }

    &__opinions {
        white-space: pre-wrap;
    }
}
