name: Build and deploy
on:
  workflow_call:
  push:
    branches:
      - main
    # tags:
    #   - "v**"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main

permissions:
  packages: write

jobs:
  build-frontend:
    uses: ./.github/workflows/build-docker-image.yaml
    with:
      DOCKER_CONTEXT: ./frontend
      DOCKERFILE_NAME: ./frontend/Dockerfile
      IMAGE_NAME: "gig3r-frontend"
      IMAGE_TAG: ${{ github.sha }}
    secrets: inherit

  build-backend:
    uses: ./.github/workflows/build-docker-image.yaml
    with:
      DOCKER_CONTEXT: ./backendDotnet/Giger
      DOCKERFILE_NAME: ./backendDotnet/Dockerfile
      IMAGE_NAME: "gig3r-backend"
      IMAGE_TAG: ${{ github.sha }}
    secrets: inherit

  build-mongo:
    uses: ./.github/workflows/build-docker-image.yaml
    with:
      DOCKER_CONTEXT: ./data/
      DOCKERFILE_NAME: ./data/Dockerfile
      IMAGE_NAME: "gig3r-mongo"
      IMAGE_TAG: ${{ github.sha }}
    secrets: inherit
  
  deploy-helm-chart:
    uses: ./.github/workflows/deploy-helm-chart.yaml
    needs:
      - build-frontend
      - build-backend
      - build-mongo
    with:
      HELM_ENVIRONMENT: ${{ github.event_name != 'pull_request' && 'dev' || '' }}
      HELM_FRONTEND_IMAGE: "ghcr.io/${{ github.repository_owner }}/gig3r-frontend"
      HELM_FRONTEND_TAG: ${{ github.sha }}
      HELM_BACKEND_IMAGE: "ghcr.io/${{ github.repository_owner }}/gig3r-backend"
      HELM_BACKEND_TAG: ${{ github.sha }}
      HELM_DATABASE_IMAGE: "ghcr.io/${{ github.repository_owner }}/gig3r-mongo"
      HELM_DATABASE_TAG: ${{ github.sha }}
    secrets: inherit

  tests_e2e:
    name: Run end-to-end tests
    runs-on: microk8s-runner-1
    needs: [ deploy-helm-chart ]
    steps:
      - uses: actions/checkout@v3
        with:
          ssh-key: ${{ secrets.DATA_SSH_KEY }}
          submodules: recursive
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - name: Install playwright browsers
        run: npx playwright install --with-deps
      - name: Run tests
        run: npx playwright test
        env:
          BASE_URL: "https://${{ needs.deploy-helm-chart.outputs.address }}"

  comment:
    if: github.event_name == 'pull_request'
    runs-on: microk8s-runner-1
    needs: [ deploy-helm-chart ]
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'PR had been deployed. \nEnvironment address is: [${{ needs.deploy-helm-chart.outputs.address }}](https://${{ needs.deploy-helm-chart.outputs.address }}) \nIt may take up to 10 minutes for DNS to propagate.'
            })
